.DS_Store
.vagrant
*.swp
*.tar.gz
*.log

.requerimentos.box
.requerimentos_iso.box

nfdos/core/image
nfdos/core/rootfs
nfdos/core/nfdos.img
nfdos/core/nfdos.iso

nfdos/desktop/libvirt
nfdos/desktop/packer_cache
nfdos/desktop/vagrant
nfdos/desktop/virtualbox
