.DS_Store
.circleci
.vagrant
*.swp
*.tar.gz
*.log

.requerimentos.box
.requerimentos_iso.box
.requerimentos_host.box
.requerimentos_box_base.box

docker/diversos
docker/duckdns
docker/email
docker/gitlab
docker/kubernetes
docker/nextcloud
docker/nginx-proxy
docker/swarm
docker/wireguard
docker/wordpress

nfdos/core/image
nfdos/core/rootfs
nfdos/core/nfdos.img
nfdos/core/nfdos.iso

nfdos/desktop/libvirt
nfdos/desktop/packer_cache
nfdos/desktop/vagrant
nfdos/desktop/virtualbox

vagrant-libs/vps_dev.box
vagrant-libs/ssh/desktop
vagrant-libs/ssh/digital-ocean
